.button{
    font-size: 32px;
    background-color: #C53678;
    margin: 30px 0 50px 200px;
    color:white;
    border: none;
    border-radius: 20px;
    width:350px;
}

.entry{
    margin-left: 30px;
    margin-bottom: 10px;
}

.textfield{
    margin-left: 30px;
}