
<app-navbar></app-navbar>
<h1>{{ message }}</h1>
<div class="all">
    <div class ="body">
        <div class="lin">
            <p class="hel">Hello,</p>
            <p class="wel">Welcome to</p>   
        </div>
        <div class="line1">
            <p class="titl">CarValuation</p>
            <h3 class="com">.com</h3>
        </div>  
        <p class="des">We're here to provide you with an easy, reliable and comprehensive solution that takes the guesswork out of the vehicle valuation.</p>
    </div>

    <app-estimate (carDataEvent)="carData($event)"></app-estimate>
    <app-report (getData)="getData($event)"></app-report>
    <!-- <button class="button" (click)="openModal()">Get Valuation</button> -->

    <p class="note">You can also help us improve our service by providing report after vehicle is sold.</p>
</div>
