.button{
    font-size: 32px;
    background-color: #C53678;
    margin: 2vw 0 2vw 10vw;
    color:white;
    border: none;
    border-radius: 20px;
    width:27vw;
}

.entry{
    margin-left: 30px;
    margin-bottom: 10px;
}

.textfield{
    margin-left: 30px;
}

@media (max-width: 768px) {
    .button{
        font-size: 6vw;
        margin: 1vh 20vw;
        width:50vw;
    }
}
